.git
.gitignore
.idea
.venv
.DS_Store

__pycache__
*.py[cod]
.pytest_cache
.ruff_cache
*.egg-info

.env
runs
runtime
outputs
models
models_vlm
basedir
comfy_run
data
build
dist

*.sqlite
*.sqlite-shm
*.sqlite-wal
*.db
