MODEL_FILE=modell.gguf
MODEL_DIR=./models
API_PORT=8080
COMFYUI_PORT=8188
VLM_MODEL_DIR=./models_vlm
VLM_MODEL_FILE=ggml-model-q4_k.gguf
VLM_MMPROJ_FILE=mmproj-model-f16.gguf
VLM_CHAT_TEMPLATE=vicuna
VLM_PORT=8189
